{{ define "beers_detail" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>BeerHunt</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: #333;
        color: white;
        padding: 20px;
        text-align: center;
      }
      header h1 {
        margin: 0;
      }
      .right-section {
        display: flex;
        gap: 10px;
      }
      .btn {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        background-color: #f44336;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      .btn:hover {
        background-color: #d32f2f;
      }
      main {
        padding: 20px;
      }
      section {
        margin-bottom: 40px;
      }
      section h2 {
        text-align: center;
      }
      .section-img {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
      }
      .section-img div {
        flex: 0 0 45%;
        position: relative;
        overflow: hidden;
        text-align: center;
        margin-bottom: 10px;
      }
      .section-img img {
        width: 100%;
        max-height: 400px;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
      }
      .author {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        font-style: italic;
      }
      .section-text {
        text-align: justify;
      }
      .centerText {
        text-align: center;
      }
      .spacedSection {
        margin-top: 50px;
        margin-bottom: 70px;
      }
      /* Your CSS styles for beer cards here */
      /* TODO: update this style */
      .beer-cards {
        width: 100%;
      }
      .beer-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 800px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      }
      .img-container {
        text-align: center;
      }
      .beer-thumbnail {
        display: block;
        margin: 0 auto;
        max-height: 300px;
        border-radius: 5px;
        object-fit: cover;
      }
      .beer-info {
        font-size: 16px;
        margin-bottom: 5px;
      }
      .beer-description {
        font-size: 14px;
        color: #666;
      }
      .page-title-container {
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 30px;
      }
      .beer-card-title {
        color: #f44336;
        font-weight: bold;
        font-size: 24px;
      }
      /* TODO: update this style */
      .upvote-block {
        width: 100%;
      }
      /* TODO: update this style */
      .comment-card {
        width: 100%;
      }
      .comment_created_date {
        font-size: 11px;
        font-style: italic;
      }
      a.non-clickable {
        pointer-events: none;
      }
      .comment-input {
        width: 300px;
        padding: 5px;
      }
      .user-not-loggedin {
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>BeerHunt 🍻</h1>
      <div class="right-section">
        {{ if .UserLoggedIn }}
        <form action="/logout" method="post">
          <input type="submit" value="Log Out" class="btn" />
        </form>
        {{ else }}
        <a href="/login" class="btn">Log In</a>
        <a href="/register" class="btn">Register</a>
        {{ end }}
      </div>
    </header>

    <main>
      <div class="page-title-container">
        <a href="/beers">To All Beers</a>
        <div class="right-section">
          {{ if .UserIsAuthor }}
          <br />
          <a
            href="/beers/{{ .Beer.ID }}/edit"
            class="btn"
            style="margin-top: 20px"
            >Edit</a
          >
          <form action="/beers/{{ .Beer.ID }}/delete" method="post">
            <input
              type="submit"
              value="Delete"
              class="btn"
              style="margin-top: 20px"
            />
          </form>
          {{ end }}
        </div>
        <h1>{{ .Beer.Name }}</h1>
      </div>
      <div class="beer-card">
        <div class="img-container">
          <img
            src="{{ .Beer.Thumbnail }}"
            alt="{{ .Beer.Name }}"
            class="beer-thumbnail"
          />
        </div>
        <div class="beer-info">
          <p>Comments: <b>{{ .Beer.CommentCount }}</b></p>
          <p>Upvotes: <b>{{ .Beer.UpvoteCount }}</b></p>
        </div>
        <hr />
        <div class="beer-description">
          <p>{{ .Beer.Description }}</p>
        </div>
        <hr />

        <!-- TODO: send an empty post request when user upvoted -->
        <div class="upvote-block">
          {{ if .UserLoggedIn }} {{ if .UserUpvoted }}
          <form action="/beers/{{ .Beer.ID }}/downvote" method="post">
            <input type="submit" value="Downvote" class="btn" />
          </form>
          {{ else }}
          <form action="/beers/{{ .Beer.ID }}/upvote" method="post">
            <input type="submit" value="Upvote" class="btn" />
          </form>
          {{ end }} {{ else }}
          <a class="btn non-clickable">You must be logged in to upvote</a>
          {{ end }}
        </div>
      </div>

      <div class="page-title-container">
        <h2>Write Your Comment</h2>
        {{ if .UserLoggedIn }}
        <form action="/beers/{{ .Beer.ID }}/comment" method="post">
          <p>
            <input
              class="comment-input"
              type="text"
              name="content"
              placeholder="Your comment..."
              required
            />
          </p>
          <p>
            <input type="submit" value="Comment" class="btn" />
          </p>
        </form>
        {{ else }}
        <p class="user-not-loggedin">You have to be logged in to comment</p>
        {{ end }}

        <h2>Comments</h2>
        {{ if .Beer.Comments }} {{ range .Beer.Comments }}
        <div class="comment-card">
          <strong>{{ .Author }}</strong>
          <p class="comment_created_date">{{ .CreatedDate }}</p>
          <p>{{ .Content }}</p>
        </div>
        {{ end }} {{ else }}
        <p>No comments yet.</p>
        {{ end }}
      </div>
    </main>
  </body>
</html>
{{ end }}
