{{ define "beers" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>BeerHunt</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: #333;
        color: white;
        padding: 20px;
        text-align: center;
      }
      header h1 {
        margin: 0;
      }
      .right-section {
        display: flex;
        gap: 10px;
      }
      .btn {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        background-color: #f44336;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      .btn:hover {
        background-color: #d32f2f;
      }
      main {
        padding: 20px;
      }
      section {
        margin-bottom: 40px;
      }
      section h2 {
        text-align: center;
      }
      .section-img {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
      }
      .section-img div {
        flex: 0 0 45%;
        position: relative;
        overflow: hidden;
        text-align: center;
        margin-bottom: 10px;
      }
      .section-img img {
        width: 100%;
        max-height: 400px;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
      }
      .author {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        font-style: italic;
      }
      .section-text {
        text-align: justify;
      }
      .centerText {
        text-align: center;
      }
      .spacedSection {
        margin-top: 50px;
        margin-bottom: 70px;
      }
      /* Your CSS styles for beer cards here */
      .beer-cards {
        width: 100%;
      }
      .beer-card {
        display: flex;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 0 auto;
        margin-bottom: 20px;
        overflow: hidden;
        max-width: 800px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      }
      .image-column {
        flex: 0 0 30%;
      }
      .text-column {
        flex: 1;
        padding: 20px;
      }
      .beer-thumbnail {
        width: 100%;
        height: 200px;
        border-radius: 5px;
        object-fit: cover;
      }
      .beer-info {
        font-size: 16px;
        margin-bottom: 5px;
      }
      .beer-description {
        font-size: 14px;
        color: #666;
      }
      .page-title-container {
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 30px;
      }
      .beer-card-title {
        color: #f44336;
        font-weight: bold;
        font-size: 24px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>BeerHunt 🍻</h1>
      <div class="right-section">
        {{ if .UserLoggedIn }}
        <form action="/logout" method="post">
          <input type="submit" value="Log Out" class="btn" />
        </form>
        {{ else }}
        <a href="/login" class="btn">Log In</a>
        <a href="/register" class="btn">Register</a>
        {{ end }}
      </div>
    </header>

    <main>
      <div class="page-title-container">
        <a href="/">To Home 🏠</a>
        <br />
        {{ if .UserLoggedIn }}
        <div class="right-section">
          <a href="/beers/create" style="margin-top: 20px" class="btn"
            >Create a Beer</a
          >
          <a href="/dashboard" class="btn" style="margin-top: 20px"
            >Your dashboard</a
          >
        </div>
        {{ end }}
        <h1>Beer List</h1>
      </div>
      <div class="beer-cards">
        {{ range .Beers }}
        <div class="beer-card">
          <div class="image-column">
            <img
              src="{{ .Thumbnail }}"
              alt="{{ .Name }}"
              class="beer-thumbnail"
            />
          </div>
          <div class="text-column">
            <div class="beer-info">
              <a class="beer-card-title" href="/beers/{{ .ID }}">
                {{ .Name }}
              </a>
              <p>Comments: <b>{{ .CommentCount }}</b></p>
              <p>Upvotes: <b>{{ .UpvoteCount }}</b></p>
            </div>
            <hr />
            <div class="beer-description">
              <p>{{ .Description }}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </main>
  </body>
</html>
{{ end }}
